body {
	font-size: 20px;
	font-weight: 700;
}

html {
	background: url("../images/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.character {
	width: 250px;
	height: 170px;
	border: 2px solid green;
	float: left;
	margin: 5px;
}

.players {
 	height: 200px;
 }

.attack, .restart {
	font-size: 20px;
	color: black;
	border: 1px solid black;
	width: 100px;
}

.header {
	text-align: right;
	color: #dddddd;
	font-size: 35px;
	padding: 20px 45px;
}

.you, .enemies {
	clear: both;
}
.opponents {
	height: 200px;
}